Source: pygame-salud
Section: games
Priority: optional
Maintainer: Milton Mazzarri <milmazz@gmail.com>
Uploaders: Rafael Leon <leonza99@gmail.com>, Laudin Molina <laudin.molina@gmail.com>
Build-Depends: debhelper (>= 7), python-support (>= 0.6.4), python-dev
Standards-Version: 3.8.1
Homepage: http://proyectos.canaima.softwarelibre.gob.ve/actividades-salud
Vcs-Git: git://github.com/milmazz/pygame-salud.git

Package: pygame-salud
Architecture: all
Depends: python-pygame (>= 1.7.1), ttf-dejavu-core (>= 2.25), python-support (>= 0.6.4)
Description: Set of kids games developed using Python
 Pygame-salud is a set of kids games and educational software
 developed using Python. Between the games we have: word search puzzle, 
 crazy letters, puzzle, links the parts.
