#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_ALWAYS_EXCLUDE=.git

PYVERS=$(shell pyversions -vs)

patch:
	dh_testdir

configure: configure-stamp
configure-stamp:
	dh_testdir
	chmod 644 `find . -name "*.py"`
	touch configure-stamp

build: build-stamp
build-stamp: configure $(PYVERS:%=build-python%)
	dh_testdir
	touch build-stamp

build-python%: configure-stamp
	dh_testdir
	touch $@

clean: configure
	dh_testdir
	dh_testroot
	rm -rf `find . -name "*.pyc" -or -name "*.xcf"`
	rm -f build-stamp configure-stamp
	rm -f build-python* install-python*
	rm -rf module/build/
	dh_clean 

install-indep:
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs

	chmod +x pygame-salud.sh

install-arch: build $(PYVERS:%=install-python%)

install-python%:
	dh_testdir
	dh_testroot
	touch $@

install: install-arch install-indep

binary-indep: install-indep
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs -i
	dh_installexamples -i
	dh_install
	dh_installmenu -i
	dh_installman -ppygame-salud debian/pygame-salud.6
	dh_link
	dh_compress -i
	dh_fixperms -i
	dh_pysupport -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: 

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install-indep install-arch install configure get-doc
