#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

#export DH_VERBOSE=1
export DH_ALWAYS_EXCLUDE=.git

CFLAGS = -Wall -g
export DH_ALWAYS_EXCLUDE=.git

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
   CFLAGS += -O0
else
   CFLAGS += -O2
endif

config.status: configure patch-stamp
	dh_testdir
	touch configure-stamp

build: build-stamp
build-stamp: config.status
	dh_testdir
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean
	chmod +x pygame-salud.sh
	dh_installdirs

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installmenu
	dh_pysupport
	dh_installman debian/pygame-salud.6
	dh_link
	dh_compress
	dh_fixperms
	rm -f `find $(CURDIR)/debian/pygame-salud -name "*.xcf" -or -name "*.svg" -or -name "*.svgz"` 
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: 

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
